.NewOrderPage {
  height: 100%;
  display: grid;
  grid-template-columns: 1.6fr 3.5fr 3fr;
  grid-template-rows: 1fr;
  background-color: var(--white);
  border-radius: 2vmin;
}

.NewOrderPage aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3vmin 2vmin;
}

h1 {
  color: #599C5D;
  padding-bottom: 15px;
  padding-top: 10px;
}

button {
  background-color:#caaf14;
}

button:hover {
  color: red;
}

.price {
  font-size: 20px;
  color: aliceblue;
  border: 1px solid black;
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 15px;
  background:#599C5D
 
}

img {
  width: 200px;
  height: 200px;
  transition: all 0.5s ease;
  transform: scale(1);

}

img:hover {
  transform: scale(1.75);
}
 .details {
  padding-bottom: 15px;
 }

 .image_box {
 padding-top: 15px;
 }