.basket {
    width: 25%;
    margin: 0 auto;
}

/* .basketImg {
    padding-top: 10px;
    width: 150px;
    height: 150px;
} */

h5 {
    color: aliceblue;

}

p {
    color: aliceblue;
}

.prime {
    background-color: #FF9900;
    color: black;
}

.amazon {
    height: 38px;
    width: 93px;
    background-color: white;
    transform: none;
}

.amazonB {
    background-color: white;
}