.bsNav {
    background-color: red;
    font-size: 24px;
  }
  
.bsNav:hover {
    color: red;
}
.navbar-nav {
  text-align: right;
}
.TNE {
  color: red;
}

.right {
  justify-content: end;
}

.count {
  color: red;
  font-size: 16px;
}