footer {
    padding-top: 2%;
    background-color: rgba(9, 1, 1, 0.352);
    display: inline-flex;
    width: 100%;
    color: white;
    text-align: center;
    justify-content: space-evenly;
    /* position: fixed;
    bottom: 0; */
    }
    

